<nav>
    <div class="nav-container">
        <span class="logo">CRMfeather</span>
        <ul>

            <!-- <li>
                <a routerLink="home" title="home">
                    <mat-icon class="med-icon">home</mat-icon>
                </a>
            </li> -->

            <li>

                <a routerLink="customer" title="customers">
                    <mat-icon class="med-icon people-icon">people</mat-icon>
                </a>
                
            </li>

            <li>
                <a routerLink="purchase" title="purchases">
                    <mat-icon class="med-icon purchase-icon">payment</mat-icon>
                </a>
            </li>

            <li>
                <a routerLink="product" title="products">
                    <mat-icon class="med-icon product-icon">inventory</mat-icon>
                </a>
            </li>

            <li>
                <a routerLink="" title="log out" (click)="logout()">
                    <mat-icon class="med-icon">logout</mat-icon>
                </a>
            </li>
        </ul>
    </div>
</nav>

