a {
  cursor: pointer;
}

.options-icon:not(:last-child) {
  margin-right: 12px;
}

#exportDataBtn {
  width: auto;
  margin: 0 auto;
  margin-top: 20px;
}

hr {
  width: 60px;
  margin: 0 auto;
  color: #673ab7;
  margin-bottom: 200px;
}
